body {text-align:center;width:80%;margin-left:10%;font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;}
#logo {float:left;}
#top_links {float:right;text-align:right}
#tabs {clear:both;text-align:right;width:100%;border-bottom:1px solid #6D3E6A;height:26px;margin-bottom:10px}
#top_links {font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;color:#553261;font-size:14px;font-weight:bold;}
#top_links a {text-decoration:none;}
.userlinks a {font-size:12px;}	  	  
ul.menu {
        height:26px;
        overflow:hidden;
        position:relative;
        z-index:99;
        }
ul.menu li {
        border:medium none;
        display:block;
        margin:0;
        padding:0;
        }

ul.menu li {
    background:url("/site_media/img/tab_i-left.gif") no-repeat scroll left 6px transparent;
    float:right;
    height:26px;
    line-height:15px;
    margin-right:3px;
    }
ul.menu li.active {
    background:url("/site_media/img/tab_left.jpg") no-repeat scroll left 6px transparent;
    float:right;
    height:26px;
    line-height:15px;
    margin-right:3px;
    
    }
ul.menu li a  {
            background:url("/site_media/img/tab_i-right.gif") no-repeat scroll right top transparent;
            border:medium none;
            color:#663E71;
            display:block;
            font-size:85%;
            font-weight:normal;
            margin:6px 0 0 5px;
            padding:3px 15px 2px 10px;
            text-decoration:none;
            position:static;
            font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;
            color:#553261;
            top:0;
          }
ul.menu li.active a  {
                background:url("/site_media/img/tab-right.jpg") no-repeat scroll right top transparent;
                border:medium none;
                color:#FFF;
                display:block;
                font-size:85%;
                font-weight:normal;
                margin:6px 0 0 5px;
                padding:3px 15px 2px 10px;
                text-decoration:none;
                position:static;
                font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;
                top:0;
            }
#left {float:left;width:20%;}
.input {border-style:solid;border-color:#660066;border-width:1px;font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;font-size:13px;}
.select_box_other {border-style:solid;border-color:#660066;border-width:1px;width:150px;font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;font-size:13px;}
.textarea{height:50px;width:350px;border-style:solid;border-color:#660066;border-width:1px;;font-size:13px;font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;}
.email{width:300px}
.right {
        color:#FFF !important;
        text-align:right;
        padding-right:10px;
        }
.left {
        text-align:left;
        padding-left:10px;
        }
        
.lable-col  {
        width: 15%;
        text-align:right;
        padding-right:10px;
        color:#660066;
    }
.data-col {
            padding-left:10px;
            width: 25%;
            text-align:left;
          }

#content {float:right;width:100%;margin-bottom:10px;font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;font-size:13px}
.select_box {font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;font-size:13px;width:200px}
.link {color:#330033;}
.left-box {
    margin-top:0px !important;
    padding-bottom:0;
    padding-top:0px;
    }
.left_content_top_img  {
    background-repeat:no-repeat;
    border:0 solid red;
    height:14px;
    left:0px;
    margin-left:0;
    position:relative;
    }
.left_content {
    background-repeat:repeat-y;
    padding-left:5px;
    padding-right:5px;
    margin-left:4px;
    }
.left_content_bottom_img  {
    background-repeat:no-repeat;
    height:14px;
    margin-left:4px;
    }
.table-border {border-color:#553261;}
.table-border-head {border-color:#553261;}
.table-border td{border-color:#553261;padding-top:2px; padding-bottom:2px}
.button {font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;font-size:12px;color:#330033}
#footer {clear:both;border-top:1px solid #553261;margin-top:15px;font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;font-size:12px;color:#330033}
.align-left {text-align:left !important;padding-left:10px}
.list a {text-decoration:none;color:#660066}
.table-head {
        background:#CC99CC;
        color:#330033;
        font-size:13px;
        font-weight:bold;
        margin:0;
        padding:2px 5px 3px;
        text-align:left;
    }
.table-head-head {
        background:#663366;
        color:#CC99CC;
        font-size:13px;
        font-weight:bold;
        margin:0;
        padding:2px 10px 3px;
        text-align:left;
    }
table.list tr td {border:1px solid #553261; }

.row1 {background:#d5bfdb;}
.row2 {background:#fff;}

.collapse {text-decoration:none;cursor:pointer}
.asc a {
    background: url(/site_media/img/arrow-down.gif) right .4em no-repeat;
}
.desc a {
    background: url(/site_media/img/arrow-up.gif) right .4em no-repeat;
}
.sorted {
    background-position: bottom left !important;
}

.sorted a {
    padding-right: 13px;
}
.font{font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;font-size:12px;}
.error {text-align:left;color:red;margin-top:-5px;margin-bottom:5px}
.success{text-align:left;color:green;margin-top:-5px;margin-bottom:5px}
