<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="css/xebia.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% load adminmedia %}{% admin_media_prefix %}css/ie.css{% endblock %}" /><![endif]-->
<script type="text/javascript"></script>
<meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body >

<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
    </div>
    <div style="clear:both"></div>
    <!-- END Header -->
    <div id="content-main" >
    <div style="width:100%;text-align:left">
		<div style="margin-bottom:10px;color:red">
          <!-- Error Message Display Here -->
		</div>
		<div style="border:1px solid #553261;width:30%;">
			<form wicket:id="projectForm">
				 <table width="100%" class="table-border" border=1 cellspacing="0" cellpadding="0">
		            <tbody >
		              <tr>
		                <td class="lable-col">Project Name *</td>
		                <td class="data-col" ><input id="id_name" type="text" class="input email" name="name" maxlength="64"  wicket:id="projectNameTextField"/></td>
		                <td class="lable-col">Technology *</td>
		                <td class="data-col" colspan="3"><input id="id_technology" type="text" class="input email" name="technology" maxlength="64" wicket:id="technologyTextField"/></td>
		              </tr>
	 	             <tr>
		                <td class="lable-col">Client Name *</td>
		                <td class="data-col"><input id="id_client" type="text" class="input email" name="client" maxlength="64" wicket:id="clientNameField"/></td>
		                <td class="lable-col">Phone Number</td>
		                <td class="data-col"><input id="id_phone_number" type="text" class="input" name="phone_number" /></td>
		             </tr>
		             <tr>
		                <td class="lable-col">Start Date *</td>
		                <td class="data-col"><input id="id_date_of_starting" type="text" class="input" name="date_of_starting" wicket:id="startDateField"/></td>
		                <td class="lable-col">Close Date</td>
		                <td class="data-col"><input id="id_date_of_closing" type="text" class="input" name="date_of_closing" wicket:id="endDateField"/></td>
		             </tr>
		           <tr>
		                <td class="lable-col">Description</td>
		                <td class="data-col" colspan="3"><textarea id="id_description" rows="10" cols="40" name="description" wicket:id="descriptionTextField" class="textarea"></textarea></td>
	                </tr>
		            <tr>
		                <td class="lable-col">Client Address</td>
	                    <td class="data-col" colspan="3"><textarea id="id_address" rows="10" cols="40" name="address" class="textarea" wicket:id="clientAddressTextField"></textarea></td>
	               </tr>
		           
    	           <tr>
			           <td colspan="4" class="right"><input type="submit" value="create" class="button" wicket:id="createButton"/></td>
	              </tr>
	            </tbody>
	        </table>
			</form>
		</div>
	</div>
</div>
    <!-- Content -->
    <!-- END Content -->

  <div id="footer">Copyright (c) Xebia IT Architects India Pvt Ltd (<a href='http://www.xebiaindia.com'>http://www.xebiaindia.com</a>) </div>
</div>
<!-- END Container -->

</body>
</html>
