<wicket:panel>
	<br><br><br><br>
	<div>
	<wicket:enclosure>
		<table width="100%" class="table-border" border=1 cellspacing="0"
			cellpadding="0">
			<tr class="table-head">
				<td colspan='3' class="left">Errors</td>
			</tr>
			<tr>
				<td  class="left" id="feedback" wicket:id="feedBack"></td>
			</tr>
		</table>
	</wicket:enclosure>
	</div>
</wicket:panel>