<wicket:panel>
	<a href='/wishlist/'>Add feature request/suggestion Or report bug</a> | Copyright (c) Xebia IT Architects India Pvt Ltd (<a href='http://www.xebiaindia.com'>http://www.xebiaindia.com</a>) 
</wicket:panel>