<wicket:panel>
	<div id="logo"><img src="img/logo.jpg"></img></div>
	<div id="top_links">Welcome 
		<a title="my profile" style="text-decoration: underline" wicket:id="employeeDetails">
			<span wicket:id="employeeName">EmployeeName</span>
		</a> | 
		<span class='userlinks'>
			<a title="change password" wicket:id="changePassword">Change Password</a> | 
			<a title="logout" wicket:id="logout">Logout</a>
		</span>
	</div>
</wicket:panel>