<wicket:panel> 
		<link media="all" type="text/css" href="css/xebia.css" rel="stylesheet"/>
		<link media="all" type="text/css" href="css/jquery.ui.all.css" rel="stylesheet" />

		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/jquery.easy-confirm-dialog.js"></script>		
		<script src="js/jquery.selectboxes.js" type="text/javascript"></script>
		<script src="js/ui.core.js" type="text/javascript"></script>
		<script src="js/ui.datepicker.js" type="text/javascript"></script>
</wicket:panel>	