<wicket:panel>
	<ul class="menu">
		<li ><a class="tab" href="/employee/hrdashboard/">Admin</a></li>
		<li ><a class="tab" href="/reports/list/">Reports</a></li>
		<li ><a class="tab" href="/leave/mydashboard/">Availability</a></li>
		<li ><a class="tab" href="/projects/list/">Projects</a></li>
		<li ><a class="tab" href="/employees/list/">People</a></li>
		<li ><a class="tab" href="/ems/">Home</a></li>
	</ul>
</wicket:panel>
